/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30 Mar, 2017, 4:31:04 PM
    Author     : Shanthi Rajendran
*/
body,html{
    margin: 0;
    padding: 0;
}
container{
    position: absolute;
    top: 0;
    bottom: 0;
    min-height: 100%;
    max-width: 100%;
   
}
video{
    background-color: transparent;
   position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 1;
  transform: translate(-50%, -50%); 
}
.text{
    z-index: 2;
    position: relative;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
   
}
.text h1{
    text-align: center;
    text-transform: uppercase;
    font-weight: 200;
    color:#fff;
    text-shadow: 2px 2px 2px black;
}
